@model Cars.ViewModels.VehicleModelVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vehicle Model</h4>
<hr />

@using (Html.BeginForm("Create", "VehicleModels"))
{
    <div class="form-group col-lg-4">
        @Html.LabelFor(m => m.MakeId)
        @Html.DropDownListFor(q => q.MakeId, Model.VehicleMakeList, "Select Vehicle Make",
                 new { @class = "form-control" })
    </div>

    <div class="form-group col-lg-4">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <div class="form-group col-lg-4">
        @Html.LabelFor(m => m.Abrv)
        @Html.TextBoxFor(m => m.Abrv, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
}      

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
