@model Cars.ViewModels.VehicleModelVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VehicleModel</h4>
    <hr />

    @using (Html.BeginForm("Details", "VehicleModels"))
    {
        <div class="form-group col-lg-4">
            @Html.LabelFor(m => m.VehicleMake.Name)
            @Html.TextBoxFor(m => m.VehicleMake.Name, new { @class = "form-control" })
        </div>

        <div class="form-group col-lg-4">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>

        <div class="form-group col-lg-4">
            @Html.LabelFor(m => m.Abrv)
            @Html.TextBoxFor(m => m.Abrv, new { @class = "form-control" })
        </div>

    }
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ModelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
