@model Cars.ViewModels.VehicleModelVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>VehicleModel</h4>
<hr />

@using (Html.BeginForm("Edit", "VehicleModels"))
{
    <div class="form-group col-lg-4">
        @Html.LabelFor(m => m.MakeId)
        @Html.DropDownListFor(q => q.MakeId, Model.VehicleMakeList, "Select Vehicle Make",
                 new { @class = "form-control" })
    </div>
    <div class="form-group col-lg-4">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <div class="form-group col-lg-4">
        @Html.LabelFor(m => m.Abrv)
        @Html.TextBoxFor(m => m.Abrv, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.ModelId);
    <button type="submit" class="btn btn-primary">Edit</button>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}